.header img {
  width: 100px;
}
/* .contentImage {
  height: 100px;
} */

.header {
  grid-area: h;
  background-color: aquamarine;
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1; */
}